const info = {
	first_name : "Vax",
	last_name : "Botstl",
	email : "YOUR EMAIL HERE",
	street : "2163 S Grand Ave", // jack in the box on grand
	city : "Saint Louis",
	state : "MO",
	zip : "63104",
	location : "Saint Louis, MO, USA",
	phone : "YOUR PHONE HERE", // I use a voice.google.com number
	logins: {
		walgreens: {
			username: "YOUR UN HERE",
			password: "YOUR PW HERE",
		},
	},
}

module.exports = info
